<html>
<head>
  <title>Login and Registration</title>
</head>
  <body>
    {% if messages %}
      {% for message in messages %}
        {{ message.message }}
      {% endfor %}
    {% endif %}


    <a href="/books">Home</a>
    <a href="/logout">Log Out</a>

    <h2>{{ book.title }}</h2>

    <div class="section">
      <h4>Reviews:</h4>
      {% for review in reviews %}
        <p>{{ review.rating }}</p>
        <p><a href="/users/{{ review.user.id }}">{{ review.user.alias}}</a> says: {{ review.review }}</p>
        <p>Posted on {{ review.created_at }}</p>
        <hr>
      {% endfor %}
    </div>
    <div class="section">
      <h4>Add a Review:</h4>
      <form action='/books/submit_review/{{ book.id }}' method='post'>
        {% csrf_token %}
        Review: <textarea rows="4" cols="50" name="review"></textarea>
        <input type='submit' value='Submit Review'>
      </form>
    </div>

    <form action='/logout' method='post'>
      {% csrf_token %}
      <input type='submit' value='Log Out'>
    </form>
  </body>
</html>
